# pickle
data_w/
data/
pickle/

# model
wav2vec2-large-xlsr-ger-chris/
wav2vec2-large-xlsr-ger-chris-cut/
wav2vec2-large-xlsr-ger-chris-piece/

# data
results51_test/
results51_cut/
results51_piece/
results54_piece/

# kenLM
lm_data/
lm_kenlm_pred/
kenlm/
py-ctc-decode/
res51_full_log/
res51_cut_log/
lm_res51/
lm_cut_full/
lm_full_full/
lm_cut_cut/
lm_full_full_2/
lm_full_full_3/

# transformer LM
lm_transformer